@using Mambo.Models

@model Mambo.Models.ArticleCreationModel

@{
    ViewBag.Title = "Create";
}

<h2>Nouvel Article</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <form>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <br/>
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            @Html.DropDownListFor(model => model.Language, 
                    new SelectList(Enum.GetValues(typeof(Language))),
                    "Sélectionner une langue")
            </div>
        </div>
        <br />
        <br />
        <hr />

        <h4>Add a resource</h4>

        @Html.ValidationSummary(true)
        <br />
        @using (Html.BeginForm("ArticleDetails", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            <label>@Html.Label("Titre")</label>
            <br />
            @Html.TextBoxFor(m => m.Medias.First().Title)
            <br /> <br />
            <input type="submit" class="btn btn-default" value="Add" />
        }

        <hr />

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                <br/> <br/>
                @Html.ActionLink("Abort", "Index")
            </div>
        </div>

        <hr/>

    </form>
}
<br /> <br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}