@using Mambo.Models

@model Mambo.Models.ArticleCreationModel

@{
    ViewBag.Title = "Create";
}

<h2>New article</h2>

@using (Html.BeginForm("Create", "BackOffice"))
{
    @Html.AntiForgeryToken()

    <form>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br /><br />
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control", rows = "3", style = "min-width: 100%" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br /><br /><br /><br />
        <div class="form-group">
            @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Language,
                    new SelectList(Enum.GetValues(typeof(Language))),
                    "Select a language")
            </div>
        </div>
        <br /><br /><br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                <br /> <br />
                @Html.ActionLink("Abort", "Index")
            </div>
        </div>
    </form>
}

<br /> <br />

@Html.Partial("CreateResource", new ResourceCreationModel())

<br /> <br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}