@using Mambo.Models

@model Mambo.Models.ArticleCreationModel

@{
    ViewBag.Title = Resource.create;
}

<h2>New article</h2>

@using (Html.BeginForm(Resource.create, "BackOffice"))
{
    @Html.AntiForgeryToken()

    <form>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">@Resource.title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br /><br />
        <div class="form-group">
            <label class="control-label col-md-2">@Resource.text</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control", rows = "3", style = "min-width: 100%" })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br /><br /><br /><br />
        <div class="form-group">
            <label class="control-label col-md-2">@Resource.language</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Language,
                    new SelectList(Enum.GetValues(typeof(Language))),
                    Resource.languageSelection)
            </div>
        </div>
        <br /><br /><br />
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value=@Resource.create class="btn btn-primary" />
                <br /> <br />
                @Html.ActionLink(Resource.abort, "Index")
            </div>
        </div>
    </form>
}

<br /> <br />

@Html.Partial("CreateResource", new ResourceCreationModel())

<br /> <br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}