@using Mambo.Models
@model ArticleDetailModel

@{
    ViewBag.Title = Resource.details;
}

<h1 class="text-center">@Model.Translations.FirstOrDefault().TranslationArticleTitle</h1>
<h6 class="text-center"><span style="padding-right: 30px;" class="glyphicon glyphicon-calendar"></span>@Model.Article.CreationDate</h6>

@foreach (var translation in Model.Translations)
{
    <div>
        @if (translation.LanguageId == 1)
        {
            <h2>Français</h2>
        }
        else if (translation.LanguageId == 2)
        {
            <h2>English</h2>
        }
        else
        {
            <h2>Español</h2>
        }

        <h3>@translation.TranslationArticleTitle</h3>
        <p class="text-center">
            @translation.TranslationArticleContent
        </p>

        <div class="row">
            <h4 class="text-center">@Resource.medias</h4>
            @foreach (var media in Model.Article.ResourcesList)
            {
                if (media.LanguageId == translation.LanguageId)
                {
                    <div class="col-sm-3">
                        <div class="card">
                            @if (@media.Path.EndsWith("png") || @media.Path.EndsWith("jpg"))
                        {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="@Url.Content(@media.Path)" alt="@media.Title">
                            }
                            else if (@media.Path.EndsWith("pdf"))
                            {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="https://raw.githubusercontent.com/Alezco/Mambo/master/Ressources/pdf_placeholder.png" alt="@media.Title">
                            }
                            else if (@media.Path.EndsWith("docx"))
                            {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="https://raw.githubusercontent.com/Alezco/Mambo/master/Ressources/word_placeholder.png" alt="@media.Title">
                            }
                            else
                            {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="https://raw.githubusercontent.com/Alezco/Mambo/master/Ressources/file_placeholder.png" alt="@media.Title">
                            }
                            <div class="card-block">
                                <h4 class="card-title">@media.Title</h4>
                                <p class="card-text">@media.Description</p>
                                <a target="_blank" href="@media.Path" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
    <br />
        <hr />
}

@if (Model.Article.Status.Equals("WAITING_VALIDATION"))
{
    @Html.ValidationSummary(true)
    using (Html.BeginForm(Resource.validateArticle, "BackOffice", new { id = Model.Article.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-primary" value="@Resource.validate" />
        <br />
    }
}

<br />

<p>
    @Html.ActionLink(Resource.back, "Index")
</p>
