@model Mambo.DBO.Article

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)

        @*<div class="form-group">
            @Html.LabelFor(model => model.AdminId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdminId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdminId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NbViews, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NbViews, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NbViews, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <table class="table">
            @if (Model.ResourcesList.Count == 0)
            {
                @Html.Label("No resource found for this article", htmlAttributes: new { @class = "control-label col-md-4" , style= "color: #e30c37" });
            }
            else
            {
                foreach (var media in Model.ResourcesList)
                {
                    <div class="col-sm-3">
                        <div class="card">
                            @if (@media.Path.EndsWith("png") || @media.Path.EndsWith("jpg"))
                        {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="@Url.Content(@media.Path)" alt="@media.Title">
                            }
                            else if (@media.Path.EndsWith("pdf"))
                            {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="https://raw.githubusercontent.com/Alezco/Mambo/master/Ressources/pdf_placeholder.png" alt="@media.Title">
                            }
                            else if (@media.Path.EndsWith("docx"))
                            {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="https://raw.githubusercontent.com/Alezco/Mambo/master/Ressources/word_placeholder.png" alt="@media.Title">
                            }
                            else
                            {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="https://raw.githubusercontent.com/Alezco/Mambo/master/Ressources/file_placeholder.png" alt="@media.Title">
                            }
                            <div class="card-block">
                                <h4 class="card-title">@media.Title</h4>
                                <p class="card-text">@media.Description</p>
                                <a target="_blank" href="@media.Path" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div>
                        </div>
                    </div>
                }
            }


        </table>


        @using (Html.BeginForm("Edit", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.Label("Resources", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("ResourcesList")
            <input type="submit" class="btn btn-default" value="Add" />
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
