@using Mambo.Models
@model IEnumerable<Mambo.DBO.Article>


@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Mambo</h1>
</div>

<h1>Back Office</h1>

<h3>@Html.ActionLink("Create an article", "Create")</h3>
@if (@HttpContext.Current.User.IsInRole("ADMIN"))
{
    <h3>@Html.ActionLink("View articles statistics", "Statistics")</h3>
}


<h2>Pending articles</h2>

<table class="table">
    <tr>
        <th></th>
        <th>Id</th>
        <th>Date</th>
        <th>Status</th>
    </tr>

   @foreach (var article in Model)
   {
    <tr>
        <td>
            @if (article.ResourcesList.Count == 0)
            {
                <img src="http://www.euneighbours.eu/sites/default/files/2017-01/placeholder.png" width="50px" height="50px" />
            }
            else
            {
                foreach (var resource in article.ResourcesList)
                {
                    if (resource.Path.EndsWith("png") || resource.Path.EndsWith("jpg"))
                    {
                        <img src="@resource.Path" width="50px" height="50px" />
                        break;
                    }
                }
            }
        </td>
        <td>@article.Id</td>
        <td>@article.CreationDate</td>
        <td>@article.Status</td>
        @if (@HttpContext.Current.User.IsInRole("ADMIN"))
        {
            <td>
                @Html.ActionLink("Read", "Details", new { id = @article.Id })
                @Html.ActionLink("Edit", "Edit", new { id = @article.Id })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Translate", "Details", new { id = @article.Id })
            </td>
        }

    </tr>
   }

</table>
