@using Mambo.Models
@model IEnumerable<Mambo.DBO.Article>


@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Mambo</h1>
</div>

<h2>Back Office</h2>

<p>
    @Html.ActionLink("Créer un article", "Create")
</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Status</th>
    </tr>

   @foreach (var article in Model)
   {
    <tr>
        <td>@article.Id</td>
        <td>@article.CreationDate</td>
        <td>@article.Status</td>
        @if (@HttpContext.Current.User.IsInRole("ADMIN"))
        {
            <td>
                @Html.ActionLink("Lire", "Details", new { id = @article.Id })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Traduire", "Details", new { id = @article.Id })
            </td>
        }

    </tr>
   }

</table>
