@using Mambo.Models
@model IEnumerable<Mambo.DBO.Article>


@{
    ViewBag.Title = Resource.home;
}

<div class="jumbotron">
    <h1>Mambo</h1>
</div>

<h1>Back Office</h1>

@if (@HttpContext.Current.User.IsInRole("ADMIN"))
{
    <h3>@Html.ActionLink(Resource.createArticle, "Create")</h3>
    <h3>@Html.ActionLink(Resource.viewStats, "Statistics")</h3>
}

@if (@HttpContext.Current.User.IsInRole("TRADUCTEUR"))
{
    foreach (var article in Model)
    {
        if (article.CreationDate.AddDays(1) < DateTime.Now)
        {
            <div class="alert alert-danger" role="alert">@Resource.alertTranslation</div>
            break;
        }
    }
}
<h2>@Resource.pendingArticles</h2>

<table class="table">
    <tr>
        <th></th>
        <th>Id</th>
        <th>@Resource.date</th>
        <th>@Resource.status</th>
    </tr>

   @foreach (var article in Model)
   {
    <tr>
        <td>
            @if (article.ResourcesList.Count == 0)
            {
                <img src="http://www.euneighbours.eu/sites/default/files/2017-01/placeholder.png" width="50px" height="50px" />
            }
            else
            {
                foreach (var resource in article.ResourcesList)
                {
                    if (resource.Path.EndsWith("png") || resource.Path.EndsWith("jpg"))
                    {
                        <img src="@resource.Path" width="50px" height="50px" />
                        break;
                    }
                }
            }
        </td>
        <td>@article.Id</td>
        <td>@article.CreationDate</td>
        <td>@article.Status</td>
        @if (@HttpContext.Current.User.IsInRole("ADMIN"))
        {
            <td>
                @Html.ActionLink(Resource.read, "Details", new { id = @article.Id })
            </td>
        }
        else
        {
            if (article.Status == "WAITING_VALIDATION")
            {
                <td>
                    @Html.ActionLink(Resource.modify, "Translate", new { id = @article.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink(Resource.translate, "Translate", new { id = @article.Id })
                </td>
            }
        }

    </tr>
   }

</table>
