@using Mambo.Models

@model Mambo.Models.StatisticModel

@{
    ViewBag.Title = Resource.stats;
    var lang = Request.RequestContext.RouteData.Values["lang"];
    var langId = 0;
    if (lang.Equals("fr"))
    {
        langId = 1;
    }
    else if (lang.Equals("en"))
    {
        langId = 2;
    }
    else
    {
        langId = 3;
    }
}

<h1>Mambo @ViewBag.Title</h1>

<h2>@Resource.validatedArticles</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>@Resource.title</th>
        <th>@Html.ActionLink(Resource.date, "Statistics", new { sortOrder = "sortDate" })</th>
        <th>@Html.ActionLink(Resource.views, "Statistics", new { sortOrder = "sortView" })</th>
        <th>@Html.ActionLink(Resource.comments, "Statistics", new { sortOrder = "sortComment" })</th>
        <th>@Html.ActionLink(Resource.likes, "Statistics", new { sortOrder = "sortLike" })</th>
    </tr>

    @foreach (var article in Model.ArticleList)
    {
        // Langue à définir en fonction du choix de l'utilisateur
        foreach (var translation in article.Translations)
        {
            if (translation.LanguageId == langId)
            {
                <tr>
                    <td>@article.Article.Id</td>
                    <td>@translation.TranslationArticleTitle</td>
                    <td>@article.Article.CreationDate</td>
                    <td>@article.Article.NbViews</td>
                    <td>@article.NbComments</td>
                    <td>@article.NbLikes</td>
                </tr>
            }
        }
    }
</table>

<hr />

<p>
    @Html.ActionLink(Resource.back, "Index")
</p>



