@using Mambo.Models

@model Mambo.Models.StatisticModel

@{
    ViewBag.Title = Resource.stats;
}

<h1>Mambo @ViewBag.Title</h1>

<p>@Resource.numberArticles: @Model.ArticleList.Count</p>

<h2>@Resource.validatedArticles</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>@Resource.title</th>
        <th>@Html.ActionLink(Resource.date, "Statistics", new { sortOrder = "sortDate" })</th>
        <th>@Html.ActionLink(Resource.views, "Statistics", new { sortOrder = "sortView" })</th>
        <th>@Html.ActionLink(Resource.comments, "Statistics", new { sortOrder = "sortComment" })</th>
        <th>@Html.ActionLink(Resource.likes, "Statistics", new { sortOrder = "sortLike" })</th>
    </tr>

    @foreach (var article in Model.ArticleList)
    {
        // Langue à définir en fonction du choix de l'utilisateur
        var translation = article.Translations.FirstOrDefault();
        if (translation != null)
        {
            <tr>
                <td>@article.Article.Id</td>
                <td>@translation.TranslationArticleTitle</td>
                <td>@article.Article.CreationDate</td>
                <td>@article.Article.NbViews</td>
                <td>@article.NbComments</td>
                <td>@article.NbLikes</td>
            </tr>
        }
    }
  
</table>

<hr />

<p>
    @Html.ActionLink(Resource.back, "Index")
</p>



