@using Mambo.Models
@model ArticleDetailModel

@{
    ViewBag.Title = "Article";
}

<h1>@Model.Translations.FirstOrDefault().TranslationArticleTitle</h1>
<button onclick="location.href='@Url.Action("LikeAction")'" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star"></span> Favorite</button>
<div>
    <h6>@Model.Article.CreationDate</h6>
    <br />
    <p>
        @Model.Translations.FirstOrDefault().TranslationArticleContent
    </p>
    <hr />

    <div class="row">
        <h4>Médias (@Model.Article.ResourcesList.Count)</h4>
        @foreach (var media in Model.Article.ResourcesList)
        {
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" style="width: 300px;" src="@Url.Content(@media.Path)" alt="@media.Title">
                    <div class="card-block">
                        <h4 class="card-title">@media.Title</h4>
                        <p class="card-text">@media.Description</p>
                        <a target="_blank" href="@media.Path" class="btn btn-primary">SEE THE RESSOURCES</a>
                    </div>
                </div>
            </div>
        }
    </div>
        <hr />
        <div class="row">
            <h4>Commentaires (@Model.Comments.Count)</h4>
            @foreach (var comment in Model.Comments)
            {
                <dl class="dl-horizontal">
                    <dt>
                        @comment.Username
                    </dt>
                    <dd>
                        @comment.Comment
                    </dd>
                    <dd style="font-size:75%">
                        @comment.Date
                    </dd>
                </dl>
            }
            <hr />
        </div>

        <h2>Commenter cet article</h2>
        @Html.ValidationSummary(true)
        <br />
        @using (Html.BeginForm("ArticleDetails", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
            @Html.TextAreaFor(m => m.UserComment.Text)
            @Html.HiddenFor(m => m.Article.Id)
            @Html.ValidationMessageFor(m => m.UserComment.Text)
            <br /> <br />
            <input type="submit" value="Publier" />
        }
        <hr />

    </div>



<p>
    @Html.ActionLink("Retour", "Index")
</p>
