@using Mambo.Models
@model ArticleDetailModel

@{
    ViewBag.Title = Resource.article;
}

<h1 class="text-center">@Model.Translations.FirstOrDefault().TranslationArticleTitle</h1>
<div>
    <h6 class="text-center"><span style="padding-right: 30px;" class="glyphicon glyphicon-calendar"></span>@Model.Article.CreationDate</h6>
    <br />
    <p class="text-center">
        @Model.Translations.FirstOrDefault().TranslationArticleContent
    </p>
    <div class="text-center">
        @if (Model.IsFavorite == false)
        {
            <div class="text-center buttonLine">
                <button onclick="location.href='@Url.Action("LikeAction", "Home", new { modelID = Model.Article.Id }, null)'" type="submit" name="submitbutton1" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-star">
                    </span>
                    @Resource.favorite
                    @if (Model.NbLikes != -1)
                    {
                        @Model.NbLikes
                    }
                </button>
            </div>
        }
        else
        {
            <div class="text-center buttonLine">
                <button onclick="location.href='@Url.Action("LikeAction", "Home", new { modelID = Model.Article.Id }, null)'" type="submit" name="submitbutton1" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-star" style="color: yellow">
                    </span>
                    @Resource.favorite  @Model.NbLikes
                </button>
            </div>
        }
        <div class="text-center buttonLine">
            <button class="btn btn-default btn-sm"><span style="padding-right: 30px;" class="glyphicon glyphicon-globe"></span>@Model.NbViews @Resource.views</button>
        </div>
    </div>
    <hr />

        <div class="row">
            <h4 class="text-center">@Model.Translations.FirstOrDefault().TranslationArticleTitle @Resource.have @Model.Article.ResourcesList.Count médias</h4>
            @foreach (var media in Model.Article.ResourcesList)
            {
                if (media.LanguageId == @Model.Translations.FirstOrDefault().LanguageId)
                {
                    <div class="col-sm-3">
                        <div class="card">
                            @if (@media.Path.EndsWith("png") || @media.Path.EndsWith("jpg"))
                            {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="@Url.Content(@media.Path)" alt="@media.Title">
                            }
                            else if (@media.Path.EndsWith("pdf"))
                            {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="https://raw.githubusercontent.com/Alezco/Mambo/master/Ressources/pdf_placeholder.png" alt="@media.Title">
                            }
                            else if (@media.Path.EndsWith("docx"))
                            {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="https://raw.githubusercontent.com/Alezco/Mambo/master/Ressources/word_placeholder.png" alt="@media.Title">
                            }
                            else
                            {
                                <img class="card-img-top img-responsive" style="width: 300px;" src="https://raw.githubusercontent.com/Alezco/Mambo/master/Ressources/file_placeholder.png" alt="@media.Title">
                            }
                            <div class="card-block">
                                <h4 class="card-title">@media.Title</h4>
                                <p class="card-text">@media.Description</p>
                                <a target="_blank" href="@media.Path" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
        <hr />
        @if (@HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div class="row">
                <h4 class="text-center"><span style="padding-right: 30px;" class="glyphicon glyphicon-comment"></span>Comments (@Model.Comments.Count)</h4>
            
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>@comment.Username</strong> <span class="text-muted">@comment.Date</span>
                                    </div>
                                    <div class="panel-body">
                                        @comment.Comment
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                <hr />
            </div>

            <h4 class="text-center"><span style="padding-right: 30px;" class="glyphicon glyphicon-pencil"></span>Comment this article</h4>
            @Html.ValidationSummary(true)
            <br />
            using (Html.BeginForm("ArticleDetails", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.TextAreaFor(m => m.UserComment.Text, new { @class = "form-control", rows = "3", style = "min-width: 100%" })
                @Html.HiddenFor(m => m.Article.Id)
                @Html.ValidationMessageFor(m => m.UserComment.Text)
                <br /> <br />
                <input type="submit" class="btn btn-primary" value="Publish" />
            }
        }
        else
        {
            <p>@Resource.connectNeeded</p>
        }
        <hr />

    </div>



<p>
    @Html.ActionLink(Resource.back, "Index")
</p>
