@using Mambo.Models
@model ArticleViewModel


@{
    ViewBag.Title = "Mambo";
    Global
}

<div class="jumbotron">
    <h1>Mambo</h1>
</div>

<form asp-controller="Movies" asp-action="Index">
    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." name="SearchString">
            <span class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="Search" />
            </span>
        </div>
    </div>
</form>
<br /><br />
<h2>Last articles</h2>

<table class="table">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Date</th>
        <th>Content</th> 
    </tr>

    @foreach (var article in Model.Articles)
    {
        foreach (var translation in Model.Translations)
        {
            // Langue à définir en fonction du choix de l'utilisateur
            if (article.Id == translation.ArticleId && translation.LanguageId == 1)
            {
                <tr>
                    <td>
                        @if (article.ResourcesList.Count == 0)
                        {
                            <img src="http://www.euneighbours.eu/sites/default/files/2017-01/placeholder.png" width="50px" height="50px" />
                        }
                        else
                        {
                            foreach (var resource in article.ResourcesList)
                            {
                                if (resource.Path.EndsWith("png") || resource.Path.EndsWith("jpg"))
                                {
                                    <img src="@resource.Path" width="50px" height="50px" />
                                    break;
                                }
                            }
                        }
                    </td>
                    <td>@Html.ActionLink(translation.TranslationArticleTitle, "ArticleDetails", new { id = @article.Id })</td>
                    <td>@article.CreationDate</td>
                    <td>@translation.TranslationArticleContent</td>
                    <td>
                        @Html.ActionLink("Lire", "ArticleDetails", new { id = @article.Id })
                    </td>
                </tr>
            }
        }
    }

</table>