@using Mambo.Models
@model ArticleViewModel


@{
    ViewBag.Title = "Mambo";
}


<div class="jumbotron">
    <h1>Mambo</h1>
</div>

<h2>Les derniers articles</h2>

<table class="table">
    <tr>
        <th>Titre</th>
        <th>Date</th>
        <th>Contenu</th> 
    </tr>

    @foreach (var translation in Model.Translations)
    {
        foreach (var article in Model.Articles)
        {
            if (article.Id == translation.ArticleId)
            {
                <tr>
                    <td>@translation.TranslationArticleTitle</td>
                    <td>@article.CreationDate</td>
                    <td>@translation.TranslationArticleContent</td>
                    <td>
                        @Html.ActionLink("Lire", "ArticleDetails", new { id = @translation.Id })
                    </td>
                </tr>
            }
        }
    }

</table>