@using Mambo.Models
@model ArticleViewModel


@{
    ViewBag.Title = "Mambo";
}


<div class="jumbotron">
    <h1>Mambo</h1>
</div>

<h2>Les derniers articles</h2>

<table class="table">
    <tr>
        <th>Titre</th>
        <th>Date</th>
        <th>Contenu</th> 
    </tr>

    @foreach (var article in Model.Articles)
    {
        foreach (var translation in Model.Translations)
        {
            // Langue à définir en fonction du choix de l'utilisateur
            if (article.Id == translation.ArticleId && translation.LanguageId == 1)
            {
                <tr>
                    <td>@Html.ActionLink(translation.TranslationArticleTitle, "ArticleDetails", new { id = @article.Id })</td>
                    <td>@article.CreationDate</td>
                    <td>@translation.TranslationArticleContent</td>
                    <td>
                        @Html.ActionLink("Lire", "ArticleDetails", new { id = @article.Id })
                    </td>
                </tr>
            }
        }
    }

</table>