@model Mambo.Models.Login
@{
    ViewBag.Title = Resource.login;
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.ValidationSummary(true)
<br />
@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    <form>
        <div class="form-group">
            <label>@Resource.login</label>
            <br />
            @Html.TextBoxFor(m => m.Email, new { @type = "email" })
            <br />
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            <label>@Resource.password</label>
            <br />
            @Html.PasswordFor(m => m.Password)
            <br />
            @Html.ValidationMessageFor(m => m.Password)
</div>
        <div class="form-group">
            <label>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Resource.rememberme
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="@Resource.login" />
</form>
}
