@model Mambo.Models.Register
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.ValidationSummary(true)
<br />
@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    <form>
        <div class="input-group">
            <label>@Html.LabelFor(m => m.UserName)</label>
            <br />
            @Html.TextBoxFor(m => m.UserName)
            <br />
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="input-group">
            <label>@Html.LabelFor(m => m.Email)</label>
            <br />
            @Html.TextBoxFor(m => m.Email)
            <br />
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="input-group">
            <label>@Html.LabelFor(m => m.Password)</label>
            <br />
            @Html.PasswordFor(m => m.Password)
            <br />
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="input-group">
            <label>@Html.LabelFor(m => m.PasswordConfirm)</label>
            <br />
            @Html.PasswordFor(m => m.PasswordConfirm)
            <br />
            @Html.ValidationMessageFor(m => m.PasswordConfirm)
        </div>
        <input type="submit" class="btn btn-primary" value="Register" />
</form>
}