@model Mambo.Models.Register
@{
    ViewBag.Title = Resource.register;
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.ValidationSummary(true)
<br />
@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    <form>
        <div class="input-group">
            <label>@Resource.username</label>
            <br />
            @Html.TextBoxFor(m => m.UserName)
            <br />
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="input-group">
            <label>@Resource.email</label>
            <br />
            @Html.TextBoxFor(m => m.Email, new { @type = "email" })
            <br />
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="input-group">
            <label>@Resource.password</label>
            <br />
            @Html.PasswordFor(m => m.Password)
            <br />
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="input-group">
            <label>@Resource.passwordConfirm</label>
            <br />
            @Html.PasswordFor(m => m.PasswordConfirm)
            <br />
            @Html.ValidationMessageFor(m => m.PasswordConfirm)
        </div>
        <br />
        <input type="submit" class="btn btn-primary" value="@Resource.register" />
</form>
}