@model Mambo.Models.Register
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.ValidationSummary(true)
<br />
@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)
    @Html.ValidationMessageFor(m => m.UserName)
    <br />
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
    <br />
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)
    <br />
    @Html.LabelFor(m => m.PasswordConfirm)
    @Html.PasswordFor(m => m.PasswordConfirm)
    @Html.ValidationMessageFor(m => m.PasswordConfirm)
    <br />
    <input type="submit" value="Register" />
}