<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Ressources/Style/Comments.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top bg-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mambo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (@HttpContext.Current.User.IsInRole("ADMIN") || @HttpContext.Current.User.IsInRole("TRADUCTEUR"))
                    {
                        <li>@Html.ActionLink("Back Office", "Index", "BackOffice")</li>
                        <li>@Html.ActionLink("Rss Feed", "Rss", "Home")</li>
                    }
                    @if (@HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Log out", "Deconnect", "Authentification")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Log in", "Login", "Authentification")</li>
                        <li>@Html.ActionLink("Register", "Register", "Authentification")</li>
                    }
                    
                </ul>
            </div>
                
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mambo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
